.bold {
    font-weight: bold;
    font-size: 20px;
}
.name {
    height: 75px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    color: rgb(13, 104, 165);
    text-decoration: none;
}
.card:not(:nth-child(4n)) {
    margin-right: 38.6px;
}
.card {
    margin-bottom: 15px;
}